
.w\:100\%{width:100%}
.max-w\:720px{max-width:720px}
.min-w\:200px{min-width:200px}
.line-h\:24px{line-height:24px}
.size\:40px{height:40px;width:40px}
.bottom\:70px{bottom:70px}
.h\:300px{height:300px}
.w\:300px{width:300px}
.size\:70px{height:70px;width:70px}
.size\:50px{height:50px;width:50px}
.size\:25px{height:25px;width:25px}
.max-h\:90\%{max-height:90%}
.max-w\:90vw{max-width:90vw}
.size\:22px{height:22px;width:22px}
.h\:50vh{height:50vh}
.w\:90vw{width:90vw}
.h\:90\%{height:90%}
.size\:60px{height:60px;width:60px}
.width\:300px{width:300px}
.min-w\:70px{min-width:70px}
.min-w\:280px{min-width:280px}
.max-h\:50vh{max-height:50vh}
.w\:60px{width:60px}
.pe\:16px{padding-inline-end:16px}